doctype html
html
  head
    title TEST
    link(rel='stylesheet', type='text/css', href='styles/styles.css')
  body
    section
      .mast
        h1
          | T
          span SSB
        nav
          ul.clearfix
            li
              a.selected(href='#') add posts
            li
              a(href='#') view posts
            li
              a(href='#') logout
    .wrapper
      block content
        
     
                
      
    section.foot
      div
        p
          | © 2016;
