extends layout

block content
	#stream
		table#tab
			- const time = [8,9,10,11,12,13,14,15,16]
			thead
				tr
					th
					th Monday
					th Tuesday
					th Wednesday
					th Thursday
					th Friday
					th Saturday
			tbody
			each t in time
				tr
					td=t
					td: a(href="#")  
	