extends layout

block content
	.inner
		h2= title
		//- pre= JSON.stringify(course, null, 2)
		table#tab
			thead
				th time
				th Monday
				th Tuesday
				th Wednesday
				th Thursday
				th Friday
				th Saturday
			tbody


			

				
