mixin courseForm(course = {})


	form(action=`/add/${course._id || ''}` method="POST" class="card")
		label(for="course") Course Name
		input(type="text" name="courseName" id="course" value=course.courseName)
		#dynamicForm
		if course.daytime
			each val, i in course.daytime
				label(for="time") Enter Time
				input(type="number" name="daytime[time]" min="8" max="16" placeholder="must be between 8 and 16" required value=(course.daytime[i].time)) 
				label(for="day") Enter Day
				input(type="text" name="daytime[day]" placeholder="Between Monday and Saturday" value=course.daytime[i].day)
		else
			label(for="time") Enter Time
			input(type="number" name="daytime[time]" min="8" max="16" placeholder="must be between 8 and 16" required) 
			label(for="day") Enter Day
			input(type="text" name="daytime[day]" placeholder="Between Monday and Saturday" required)
		label()
		input(type="button" value="Add another time and day" onclick="addInput('dynamicForm')")
		input(type="submit" value="Save")
