@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
}
html {
  font-size: 10px; }

body {
	font-family: "Panama";
	 font-size: 1.5rem;
  color: #303030;

}
a { text-decoration: none; }

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 3rem;
  font-family: 'Panama';
  font-weight: 300;
  letter-spacing: -1px; }

section {
	height: 100px;
	background-color: #3f6fb6;
}

.mast {
	position: relative;
	width: 960px;
	margin: 0 auto 0 auto;
}

.mast h1 {
	font-family: "Panama";
	padding-top: 5px;
	font-size: 40px;
	letter-spacing: -3px;
	color: #fff;
}

.mast h1 span {
	color: #add5f7;
}

.mast nav ul {
	width: 1000px;
	list-style-type: none;
	/*outline: 1px solid #000;*/
	margin-top: 20px;
}

.mast nav ul li {
	float: left; 
	margin-right: 20px;
}

.mast nav ul li a {
	font-family: "Georgia";
  font-size:140%;
	display: block;
	font-weight: bolder;
	padding: 5px 10px 0 10px;
	color: #fff;
}

.mast nav ul li a:hover {
	color: #ccc;
}
.mast nav ul li a.selected {
	color: #333;
	background-color: #fff;
}

.mast #search {
	position: absolute;
	right: 0;
	bottom: 10px;
}
input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6; }
  input.input--error, textarea.input--error {
    border-color: red; }
select {
 font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

label {
  padding: 10px 0;
  display: block;
}

.form {
  background: white;
  padding: 2rem;
  box-shadow: linear-gradient(90deg, #48ded4 0%, #a026bf 20%, #e82c75 60%, #FFC40E 85%, #48ded4 95%); }
  .form + .form {
    margin-top: 4rem; }
  .form h2 {
    margin: 0;
    font-size: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #e6e6e6; 
}



.wrapper {
	width: 960px;
	margin: 4px auto 100px auto;
	/*outline: 1px solid green;*/
}

.status {
	margin-top: 2em;
	width: 700px;
	padding-bottom: 40px;
	border-bottom: 4px dotted #ccc;
}

#situation {
	display: block;
	width: 500px;
	float: left;
	margin-left: 20px;
}

.avatar {
	float: left;
	position: relative;
	width: 51px;
	height: 51px;
	border-radius: 99px;
	background-color: #fb60b6;
}

.avatar h3 {
	font-weight: lighter;
	text-transform: uppercase;
	color: #fff;
	padding-top: 13px;
	text-align: center;
}



#stream {
	width: 850px;
	/*outline: 1px solid blue;*/
}

#stream ul {
	padding-top: 40px;
	list-style: none;
}

#stream li {
	padding-bottom: 20px;
}



.jumpto {
	font-weight: lighter;
	font-size: 14px;
	margin-top: 10px;
	margin-left: 100px;
}

#stream.tab { width: 960px; }
table#tab {
	width: 100%;
	/*border: 1px solid #ccc;*/
	border-collapse: collapse;
}

table#tab th {
	text-transform: uppercase;
	text-align: left;
	font-weight: lighter;
	font-size: 10px;
	padding: 10px;
	border-bottom: 4px solid #ccc;
}

table#tab td {
	font-size: 12px;
	padding: 10px;
	border-bottom: 1px solid #ccc;

}

table#tab td a {
	display: inline-block;
	text-align: center;
	color: #999;
	border: 1px solid #ccc;
	font-size: 10px;
	text-transform: capitalize;
	padding: 4px;
	border-radius: 3px;
	width: 50px;
}

table#tab td a:hover {
	border-color: #060c3b;
}

 /* table#tab tr td:first-of-type {
 	width: 500px;
 }  */

.tags {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.tag {
  display: block;
  margin-right: 1rem; }
  .tag__choice {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; }
    .tag__choice input {
      width: auto;
      right: -1.5rem;
      margin-right: -1rem;
      position: relative;
      z-index: 2; }
      .tag__choice input + label {
        background: #e6e6e6;
        padding: 1rem 1rem 1rem 4rem;
        margin-bottom: 1rem }
      .tag__choice input:checked + label {
        background: cyan; }

  .card {
  background: white;
  padding: 5rem;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15); }

/* .err {
	position: absolute;
	top: -14px;
	font-size: 12px;
	left: 105px;
	color:red;
}
 */
 .flash {
  background: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 2rem;
  padding: 2rem;
  position: relative;
  z-index: 1;
  border-radius: 3px;
  display: -ms-flexbox;
  display: flex;
  animation: slideIn forwards .1s ease-in-out 2;
  animation-timing-function: cubic-bezier(0.01, 1.68, 0.58, 1); }
  .flash + .flash {
    animation-delay: 0.55s; }
    .flash + .flash + .flash {
      animation-delay: 0.6s; }
  .flash__text {
    -ms-flex: 1;
        flex: 1; }
  .flash__remove {
    background: none;
    border: 0; }
    .flash__remove:hover {
      color: #FFC40E; }
  .flash:after {
    content: '';
    display: block;
    background: white;
    position: absolute;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    top: 8px;
    left: 8px;
    z-index: -1;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px; }
  .flash--success {
    background: linear-gradient(135deg, #d2ff52 0%, #91e842 100%); }
  .flash--error {
    background: linear-gradient(20deg, red 0%, #c80000 100%); }
  .flash--info {
    background: linear-gradient(35deg, #f1e767 0%, #feb645 100%); }
  .flash p {
    margin: 0; }


.inner {
  max-width: 900px;
  margin: 0 auto; }
  @media all and (max-width: 900px) {
    .inner {
      padding: 2rem; } }

.timetables {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.timetable {
  background: white;
  margin: 10px 0;
  width: 20%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.05);
}
.timetable__hero {
  position: relative;
  padding: 0 10px 0 10px;
  text-align: right;
}
.title {
  word-wrap: break-word;
  position: relative;
  z-index: 2;
  margin: 0;
  font-size: 30px;
  line-height: 1.1;
  transform: skew(0, -3deg);
}
.time__details {
  padding: 2rem;

}
.time__details p {
  line-height: 1.2;
  margin-bottom: 0
}
.timetable__actions {
  position: relative;
  z-index: 2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.2);
  margin-bottom: 50px;
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-around;
}
.timetable__action {
  font-size: 10px;
}
.timetable__action svg {
  width: 25px;
  fill: black;
}
.timetable__action--edit a  {
  border-bottom: 0;
}

.days {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-bottom: 2rem;
      flex-wrap: wrap; 
}
.day {
  display: block;
  margin-right: 1rem;
}
.day__link {
   background: #3f6fb6;
    color: #303030;
    display: -ms-flexbox;
    display: flex;
    padding-left: 10px;
    clip-path: polygon(10px 0%, 100% 1%, 100% 100%, 10px 100%, 0% 50%);
}
.day__text {
  padding: 1rem 1rem;
  display: block;
}
.day__count {
  padding: 1rem 1rem;
  background: white;
  border-left: 3px solid rgba(0, 0, 0, 0.1);
  margin-right: -1px;
  background-clip: padding-box;
}
.day__link--active {
  background: grey
}
.day__link--active .day__text {
  color: white;
}
